.Input {
    height: 27px;
    width: 130px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    outline-color: rgb(207, 207, 179);
}