.Button{
    height: 30px;
    width: 60px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #382110;
    color: white;
    margin: 0px 5px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    outline:none;
}
.Button:hover{
    background-color: #613414;
}