.Header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:2em;
    background-color:rgb(243, 234, 217);
    padding: 10px;
    border-bottom: 2px solid rgb(137, 101, 75);

    .Logo{
        width: 180px;
    }
}

.background{
    width: 100%;
}

.backgroundWords{
    margin-top:2%;
    position:absolute;
    width:30%;
    left:30%;
}