.Container{
    width:100%;
    background-color:rgb(243, 234, 217);
    .Header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size:2em;
        background-color:rgb(243, 234, 217);
        // padding: 10px;
        border-bottom: 2px solid rgb(137, 101, 75);
    
        .Logo{
            width: 180px;
            margin: 0px;
        }
        .Login{
            form{
                a{
                    position: relative;
                    top: -10px;
                    right: -147px;
                    margin: 0px;
                    text-decoration: none;
                    font-size: 0.4em;
                    color: rgb(137, 101, 75);                }
                a:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

