.Register{
    display:flex;
    position:absolute;
    flex-direction: column;
    margin-top:10%;
    left:17%;
    align-items: center;
    width: 25vw;
    
    input{
        height: 40px;
        width: 100%;     
        outline-color: rgb(177, 177, 150);   
    }
    .regP{
        font-size: 1.3em;
        align-content: center;
        color: #5e1b17;
    }
}