.Wrapper{
    width: 60%;
    margin: 15px auto;
    display: flex;

    .userLogo{
        margin: 0px 30px;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    .UserInfo{
        color: #5e1b17;
        h2{
            text-transform: capitalize;
            font-family: Georgia, Times, 'Times New Roman', serif;
        }
        p{
            text-transform: uppercase;
            font-size: 0.85em;
            font-weight: 600;
        }
    }
}