.Footer{
    background-color: rgb(243, 234, 217);
    color: rgb(111, 94, 80);
    font-size: 0.7em;
    margin: 0px auto;
    position:relative;
    top: 75vh;

    .Buttons{
        display: flex;
        justify-content: space-around;
        margin: 0px 15%;
    }

    .Buttons > button{
        background-color:rgb(243, 234, 217);
        border:none;
        color: black;
        width: 130px;
    }
    .Buttons > button:hover{
        text-decoration: underline;
        // border-bottom: 1px double #5e1b17;
        
    }
    .Rights{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
}

