.Footer{
    position: relative;
    background-color: rgb(243, 234, 217);
    color: rgb(111, 94, 80);
    font-size: 0.7em;
    margin: 0px auto;
    top: 70vh;

    .Buttons{
        display: flex;
        justify-content: space-around;
        margin: 0px 15%;
    }

    .Buttons > button{
        background-color:rgb(243, 234, 217);
        border:none;
        color: black;
        width: 130px;
    }
    .Buttons > button:hover{
        background-color:white;
        border-color: rgb(255, 234, 204);
    }
    .Rights{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
}

