.Footer{
    background-color: rgb(243, 234, 217);
    color: rgb(111, 94, 80);
    font-size: 0.7em;
    margin: 0px auto;
    position:relative;
    bottom:0;

    .Buttons{
        display: flex;
        justify-content: space-around;
        margin: 0px 10%;
    }

    .Buttons > button{
        background-color:rgb(243, 234, 217);
        border:none;
        color: black;
        width: 130px;
    }
    .Buttons > button:hover{
        background-color:rgb(239, 253, 199);
        border-color: rgb(255, 234, 204);
    }
}

