.bigWrapper { 
    margin: 0 auto;
    width:80%;
    display: flex;
   
    background-color: rgb(243, 234, 217);
}

.book{

display:inline-block;
width:16%;
height:40%;
margin:2%;
overflow:hidden;
border-radius: 10px;
background-color: white;
}

.imgBox{
   
    width:80%;
    height:70%;
    overflow:hidden;
    margin: 0 auto;
}

.img{

    margin: 8px 0 auto;
    width:100%;
    height: 100%;
    
}

h2{
    font-size:0.8em;
}